.scrollbar-hide {
    white-space: nowrap;
    overflow-x: scroll; /* Keeps scrolling enabled, but the scrollbar hidden */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For IE and Edge */
  }
  
.scrollbar-hide::-webkit-scrollbar {
display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}